@tailwind base;
@tailwind components;
@tailwind utilities;


.layout {
  @apply flex;
  @apply flex-col;
  @apply justify-center;
  @apply items-center;
  @apply min-w-full;
  @apply min-h-screen;
  @apply bg-gradient-to-b from-[#2e026d] to-[#15162c];
}

.page {
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply justify-center;
  @apply min-h-screen;
  width: 100%;

  & p {
    @apply text-slate-100;
    @apply text-base;
  }

  & h1 {
    @apply text-5xl;
    @apply text-slate-100;
    @apply font-bold;
  }
}

.black-wrapper {
  @apply container;
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply min-h-screen;
  @apply overflow-hidden;
  @apply gap-12;
  @apply px-16;
  @apply py-16;
  @apply bg-gradient-to-b from-[#0A0908] to-[#15162c];
}

.chat-wrapper {
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply justify-between;
  @apply relative;
  @apply gap-24 min-h-screen;
  @apply py-12;
  @apply lg:px-24;
  @apply xs:px-4;
  @apply xs:w-full;
  @apply lg:max-w-7xl;
  @apply bg-gradient-to-b from-[#0A0908] to-[#15162c];

  & div {
    width: 100%;
  }

  & .chat-input {
    @apply lg:px-24;
    @apply xs:px-4;
    @apply xs:w-full;
    @apply lg:max-w-7xl;
    position: fixed;
    bottom: 0;
  }

  .chat-output-wrapper {
    @apply block;
    @apply w-full;
    @apply p-4;
    @apply rounded-lg;
    @apply focus:ring-blue-500;
    @apply focus:border-blue-50;
    @apply py-12;

    & p {
      @apply text-xl;
      @apply text-slate-100;
      @apply py-6;
    }

    & code {
      @apply text-orange-300;
      @apply font-semibold;
      @apply italic;
    }

    & pre > code {
      @apply text-teal-500;
      @apply font-extralight;
      font-style: normal;
    }

    & li {
       @apply text-slate-100;
    }
  }
}

// inputs
.text-input-grey {
  @apply block;
  @apply  w-full;
  @apply p-4;
  @apply text-gray-900;
  @apply border;
  @apply border-gray-300;
  @apply rounded-lg;
  // @apply sm:text-md;
  @apply focus:ring-blue-500;
  @apply focus:border-blue-500;
  @apply dark:bg-gray-700;
  @apply dark:border-gray-600;
  @apply dark:placeholder-gray-400;
  @apply dark:text-white;
  @apply  dark:focus:ring-blue-500;
  @apply dark:focus:border-blue-500;
}